.headerMenu {
    transition-duration: 1s;
    margin: 0 auto;
    overflow: hidden;
    height: 52px;
}
.headerShow {
    width: 442px;
}
.headerHide {
    width: 0px;
}

header > nav > div {
    width: 550px;
    overflow: hidden;
    background-color: #ca0f0f;
}

ul.headerLinkLists, .headerLinkLists {
    outline: none;
    display: inline;
    list-style-type: none;
    transition-duration: 0.5s
}
ul.headerLinkLists > li {
    float: left;
}

ul.headerLinkLists > li > a {
    border-bottom: 4px solid rgba(202,15,15,0);
}
/* ------- Sub Links CSS -------- */
ul.subLinkLists {
    position: fixed;
    list-style-type: none;
    text-align: left;
}
ul.subLinkLists > li {
    overflow: hidden;
}


ul.subLinkLists > li {
    background-color: #d22;
}
ul.subLinkLists > li > a {
    border-left: 4px solid rgba(202,15,15,0);
}
ul.headerLinkLists > li > a, ul.subLinkLists > li > a {
    display: block;
    padding: 0 10px;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.3s;
    cursor: pointer;
}
ul.headerLinkLists > li > a:hover {
    color: white;
    background-color: red;
    border-color: white;
}
ul.subLinkLists > li > a:hover {
    color: white;
    background-color: red;
    border-color: white;
}
ul.headerLinkLists > li > a#ME {
    display: none;
    padding: 10px 0;
}
ul.headerLinkLists > li > a#ME > div{
    width: 30px;
    height: 2px;
    background-color: white;
    margin: 5px auto;
    transition: 0.4s;
    border-radius: 2px;
}

.change .bar1 {
    -webkit-transform: rotate(-35deg) translate(-3px, 4px);
    -khtml-transform: rotate(-35deg) translate(-3px, 4px);
    -moz-transform: rotate(-35deg) translate(-3px, 4px);
    -ms-transform: rotate(-35deg) translate(-3px, 4px);
    -o-transform: rotate(-35deg) translate(-3px, 4px);
    transform: rotate(-35deg) translate(-3px, 4px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(35deg) translate(-5px, -8px);
    -khtml-transform: rotate(35deg) translate(-5px, -8px);
    -moz-transform: rotate(35deg) translate(-5px, -8px);
    -ms-transform: rotate(35deg) translate(-5px, -8px);
    -o-transform: rotate(35deg) translate(-5px, -8px);
    transform: rotate(35deg) translate(-5px, -8px);
}

a#USERmenu {
    transition-duration: 0.5s;
    border: 1px solid white;
    border-radius: 100%;
    position: relative;
    width: 32px;
    height: 32px;
    outline: none;
}

a#USERmenu:hover {
    border-width: 2px;
}

a#USERmenu > span {
    transform: translate(-50%, -65%);
    position: absolute;
    font-size: 16px;
    color: inherit;
    left: 50%;
    top: 50%;
}

nav#navUserMenu {
    position: fixed;
    right: 0px;
    top: 0px;
}
div#userInformation {
    position: absolute; 
    right: 0px; 
    width: 250px; 
    background-color: #9a0e0e; 
    box-shadow: 3px 3px 15px 0px #222;
    text-align: left;
    overflow: hidden;
    transition-duration: 0.5s;
}

.headerUserInfoShow {
    height: 206px;
    padding: 10px;
}
.headerUserInfoHide {
    height: 0px;
    padding: 0px 10px;
}

input.currUserData {
    line-height: normal;
    width: 100%;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    border: none;
    border-radius: 10px;
}
@media (max-width : 705px) {
    .headerMenu {
        transition-delay: 1s;
        overflow: visible;
        float: left;
    }
    .headerShow {
        width: 0px;
    }
    ul#headerLinkLists {
        display: block;
    }
    ul#headerLinkLists > li {
        float: none;   
    }
    header > nav > div {
        width: 150px;
        overflow: visible;
    }
    ul#headerLinkLists > li.menuLists {
        transition-duration: .5s;
        /*line-height: 48px;*/
    }
    ul.headerLinkLists > li.menuLists > a {
        border-bottom: none;
        border-left: 4px solid rgba(202,15,15,0);
    }
    ul.headerLinkLists > li.menuLists > a:hover {
        border-color: white;
    }
    ul.headerLinkLists > li > a#ME {
        display: block;
    }

    .moveUp {
        height: 0px;
        overflow: hidden;
    }
    .viewMenu{
        height: 46px;
        overflow: visible;
    }
}