/* Set padding to keep content from hitting the edges */

/* Set width on the form input elements since they're 100% wide by default */

/* styles for validation helpers */
header {
    position: fixed; 
    top: 0px; 
    width: 100%; 
    height: 50px; 
    background-color: black; 
    z-index: 100;
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
}

footer {
    position: fixed; 
    bottom: 0px; 
    width: 100%; 
    height: 30px; 
    line-height: 30px; 
    z-index: 100;
    text-align: center; 
    background-color: black; 
    overflow: hidden; 
    -khtml-user-select: none; 
    -webkit-user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none; 
    user-select: none; 
    color: #e4e4e4;
}

.field-validation-error {
    color: #b94a48;
}
.field-validation-valid {
    display: none;
}
input.input-validation-error {
    border: 1px solid #b94a48;
}
input[type="checkbox"].input-validation-error {
    border: 0 none;
}
.validation-summary-errors {
    color: #b94a48;
}
.validation-summary-valid {
    display: none;
}
/*------* For Login Design *-------*/
.formLoginLabel {
    transition-duration: 0.3s;
    color: white;
    display: block;
    font-size: 1.4em;
    border-left: 35px solid #ca0f0f;
    border-right: 35px solid #ca0f0f;
    height: 30px;
    line-height: 30px;
}

#container {
    transition-duration: 1s;
    position: relative;
    margin: 100px auto;
    text-align: center;
    max-width: 325px;
}

.formLogin {
    padding: 0px 40px 10px 40px;    
}

@media (max-width: 400px) {
    .formLogin {
        transition-duration: 1s;
        width: 100%;
        padding: 0px 10px;
    }
}
#content {
    background-color: red;
    margin: 50px auto;
    width: 60%;
}
.half-circle {
    -webkit-border-radius: 90px 90px 0 0;
    -moz-border-radius: 90px 90px 0 0;
    -ms-border-radius: 90px 90px 0 0;
    -o-border-radius: 90px 90px 0 0;
    border-radius: 90px 90px 0 0;    
    box-shadow:  6px 0px 0px 0px #000;
    height: 80px;
    margin: 0px auto;
    width: 150px;
    background:rgba(0,0,0,0.7);
    left: 50%;
    z-index: -10;
}
#square {
    box-shadow:  6px 6px 0px 0px #000; 
    background:rgba(0,0,0,0.2);
    border-radius: 8px;  
    height: 350px;
    margin: 0px auto;
    max-width: 100%;
}
.diamond {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
div .form-control {
    color: whitesmoke;
}
.input-group .form-control {  
    background-color: transparent;
    border-collapse: separate;
    float: left; 
}
.input-group-addon {
   background-color: transparent;
   margin: 0 auto;
}
.input-group { 
    margin: 0 auto;
    margin-top: 20px;    
}
.icon-a {
    position: relative;    
    left: 2px;
    top: 1px;
    color: white;
}
.forModelUser{
    height: 50px;
    background-color:#3e8e41;
    color: #fff;
}
.forModelUsercog{
    
    height: 50px;
}
#btnLogin{
    background : #ca0f0f;/*#e93e3e;*/    
    border:none;
    border-radius:4px;
    color: #fff;
    padding: 5px 5px;
    box-shadow: 0 4px #999;
    height: 34px;
    width: 100%;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    outline: none;    
}
#btnLogin:hover {
    background-color: #3e8e41;
}
#btnLogin:active {
    border:none;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
footer.text-info {
    float: right;
    margin-top: 50px;
    padding-right: 25px;
    position: fixed;
}
#text {
    border-color: #ed2553;
    border-left: 5px solid #ca0f0f;/*#e93e3e;#0979d8;*/
    border-left-width: 35px;
    border-right: 5px solid #ca0f0f;/*#e93e3e;#ed2553*/
    border-right-width: 35px;
    color:white;
    font-size: 3.6vmin;
    font-family:Calibri;
    margin: 0 auto;
    margin-top: 20px;
}
.loginform {
    margin: 0 auto;
}
/**--Animation Sa Login--**/
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*Let's make it appear when the page loads*/
.overlay:target:before {
    display: none;
}
.overlay:before {
  content:"";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 9;
}
.overlay .popup {
  border-radius: 5px;
  width: 30%;
  position: fixed;
  top: 0;
  left: 35%;
  padding: 25px;
  margin: 80px auto;
  z-index: 10;
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.overlay:target .popup {
    top: -100%;
    left: 100%;
}
@media screen and (max-width: 768px)
{
  .box
  {
    width: 70%;
  }
  .overlay .popup
  {
    width: 70%;
    left: 15%;
  }
}
/**-Sendoutcancel-**/
.containerOne {
    border-radius: 4px;
    height: 550px;
    margin: 15px auto; 
    width: 80%;   
}
img.img{
    border-radius: 4px;
    float: right;
    margin: 0 auto;
    margin-top:-20px;
    margin-right: -20px;
    height: 57px;
    width: 50%;
}
h3 {
    color: black;
}
#labelOne {
    color: white;
}
#Kptn , #Options, #IniBy {
    background-color: #000;
    color: #fff;
    width: 550px;
}
#CURRENCY {
    background-color: #000;
    width: 80px;
}
.form-control.form-controlKPTN {
    background-color: #000;
    color: #fff;
    width: 395px;
}
.form-controlRates{
    width: 78px;
}
.form-groupPara {
    margin: 0 auto;
    margin-top: 8px;
    width: 550px;
}
.form-control.form-controlIR {
    background-color: #000;
    margin-left: 20px;
    width: 300px;
}
.form-control.form-all-inA {
    background-color: #000;
    margin-left: 0px;
    width: 140px;
}
.form-control.form-all-inB {
    background-color: #000;
    margin-left: 0px;
    width: 140px;
}
.form-control.comment {
    background-color: #000;
    position: absolute;
    margin-left: 15px;
    resize: none;
    width: 280px;
}
.form-groupParaPay {
    margin-top: 18px;
    margin-left: 80px;
}
.form-groupParaIR {
    margin-top: 10px;
    margin-left: 50px;
}
.form-groupParaBranch {
    margin-top: 10px;
    margin-left: 50px;
}
.form-groupParaTable { 
    width: 867px;
}
.spaced
{
    margin-top: 5px;
}
a#kptnSearch.btn.btn-primary{
    font-size: medium;
    margin-left: 100px;
    padding: 5px 5px;
    box-shadow: 0 4px #999;
    height: 34px;
    width: 95px;
    color: white;
}
a#kptnSearch.btn.btn-primary:hover {
    background-color: #3e8e41;
    border-color:#3e8e41;
 }
a#kptnSearch.btn.btn-primary:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
#SCancel{
    float: right;
    padding: 5px 5px;
    box-shadow: 0 4px #999;
    height: 34px;
}
#SCancel:hover {
}
#SCancel:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
#Cancel{
    float: left;
    padding: 5px 5px;
    box-shadow: 0 4px #999;
    height: 34px;
    margin: 5px 7px
}
#Cancel:hover {
}
#Cancel:active {
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.btnNext, .btnNextni, 
.btnNextnixa, .btnNextnixani {
    background-color: #428bca;
    border-color:none;
    background-color: #e17f2c;
    box-shadow: 0 4px #999;
    height: 34px;
}
.btnNext:hover, .btnNextni:hover,
.btnNextnixa:hover, .btnNextnixani:hover  {
    background-color: #e13131;
 }
.btnNext:active, .btnNextni:active,
.btnNextnixa:active, .btnNextnixani:active {
    background-color: #e17f2c;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.btnPrev1, .btnPrev2 ,
.btnPrev3, .btnPrev4 {
    border-color:none;
    background-color: #3eb5a4;
    box-shadow: 0 4px #999;
    height: 34px;
}
.btnPrev1:active, .btnPrev2:active,
.btnPrev3:active, .btnPrev4:active {
    background-color: #e17f2c;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}
.BranchInfo {
    margin-top:20px;
}
.form-control.form-all-in {
    background-color: #000;
    margin-top: 5px;
    margin-left: 25px;
}
.form-control.form-all-inC {
    background-color: #000;
    margin-top: 5px;
    margin-left: 14px;
}
.form-control.form-all-inD {
    background-color: #000;
    margin-top: 5px;
    margin-left: 30px;
}
.form-control.form-all-inE, 
.form-control.form-all-inEE, 
.form-control.form-all-inEEE {
    background-color: #000;
    margin-top: 5px;
    margin-left: 11px;
    width: 182px;
}
.form-control.form-all-inRate {
    background-color: #000;
    margin-left: 11px;
    width: 182px;
}
.form-control.form-all-inL {
    background-color: #000;
    margin-top: 5px;
    margin-left: 20px;
    width: 182px;
}
.form-control.form-all-inF {
    background-color: #000;
    margin-top: 5px;
    margin-left: 76px;
    width: 182px;
}
.form-control.form-all-inM { 
    background-color: #000;
    margin-top: 5px;
    margin-left: 113px;
    width: 182px
}
.form-control.form-all-inS {
    background-color: #000;
    margin-top: 5px;
    margin-left: 4px;
    width: 182px;
}
.form-control.form-all-inCS {
    background-color: #000;
    margin-top: 5px;
    margin-left: 76px;
    width: 182px;
}
.form-control.form-all-inP {
    background-color: #000;
    margin-top: 5px;
    margin-left: 112px;
    width: 182px;
}
.form-control.form-all-inBD {
    background-color: #000;
    margin-left: -2px;
    width: 182px;
}
.form-control.form-all-inG {
    background-color: #000;
    margin-left: 4px;
    width: 182px;
}
.form-control.form-all-inCN {
    background-color: #000;
    margin-left: 7px;
    width: 182px;
}
.form-control.form-all-inSF {
    background-color: #000;
    margin-left: 10px;
    width: 300px;
}
form.form-inline {
    margin-top: 0px;
}
.form-control.form-controlFor:active,
.form-control.form-controlFor:focus {
  color: #fff !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: 0;
  /*border-color: #e13637 !important;
  border-bottom: 1px solid #ccc; #e13637*/
}
.form-control.form-controlFor:focus::-webkit-input-placeholder,
.form-control.form-controlFor:active::-webkit-input-placeholder {
  text-indent: -100%;
  transition: 0.5s ease-in-out;
  opacity: 1;
}
::-webkit-input-placeholder{
  text-transform:none;
}
.fieldset {
    width:865px;
}
fieldset.borderSa {
    border: 1px groove;
    border-radius: 4px;
    height: 180px;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow: 2px 2px 0px #8e1c1c;
}
fieldset.borderSaSender {
    border: 1px groove;
    border-radius: 4px;
    height: 300px;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 10px 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow: 2px 2px 0px #8e1c1c;
}
legend.borderPudSa {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    background-color: #ded9d9;
    border-radius: 4px;
}
fieldset.borderSaIR {
    border: 1px groove;
    border-radius: 4px;
    height: 110px;
    -webkit-box-shadow:  0px 0px 0px 0px;
            box-shadow: 2px 2px 0px #8e1c1c;
                margin:  10px auto;    
}
fieldset.borderSaOther{
    border: 1px groove;
    border-radius: 4px;
    height: 60px;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 0px 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow: 2px 2px 0px #8e1c1c;
}
legend.borderPudSaOther {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    background-color: #ded9d9;
    border-radius: 4px;
}
fieldset.borderSaAmount{
    border: 1px groove;
    border-radius: 4px;
    height: 240px;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 25px 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow: 2px 2px 0px #8e1c1c;
}
legend.borderPudSaAmount {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    background-color: #ded9d9;
    border-radius: 4px;
}
fieldset.borderSaPayout{
    border: 1px groove;
    border-radius: 4px;
    height: 175px;
    padding: 0 1.0em 1.0em 1.0em;
    margin: 52px 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
            box-shadow: 2px 2px 0px #8e1c1c;
}
legend.borderPudSaPayout {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
    background-color: #ded9d9;
    border-radius: 4px;
}

#fordis {
    margin-left: 29px;
}
#Naming {
    margin-left: 20px;
    margin-top: 12px;
}
.floatingRight {
    float:right;
    margin: 0 auto;
}
#LN {
    color: #a7a3a3;
    margin-left: 115px;
    font-style: italic;
    font-size: small;
}
#S {
    color: #a7a3a3;
    margin-left: 130px;
    font-style: italic;
    font-size: small;
}
#FN {
    color: #a7a3a3;
    margin-left: 205px;
    font-style: italic;
    font-size: small;
}
#C {
    color: #a7a3a3;
    margin-left: 220px;
    font-style: italic;
    font-size: small;
}
#MN {
    color: #a7a3a3;
    margin-left: 230px;
    font-style: italic;
    font-size: small;
}
#PS {
    color: #a7a3a3;
    margin-left: 230px;
    font-style: italic;
    font-size: small;
}
.saUbos {
   
    padding: 5px;
    margin-left: 145px;
    margin-right:135px;
}
#footerUser{
    margin: 0 15px;
    color: #5a3737;
}
#footerHidetext{ 
    background-color: #484746;
    border: none;
    border-radius: 4pc;
    color: #ab9f9f;
    outline:none;
    text-align: center;
    text-transform: uppercase;
}
.xClosx {
    margin: 10px 50px;
}


#glyphEye{
    color: #A0FFA0;
    cursor:pointer;
    border: none;
    position: absolute;
    right: 10px;
    line-height: 30px;
}
.fadeOff {
    transition-duration: 0.3s;
    opacity: 1;
    z-index: 10;
}
.fadeOn {
    transition-duration: 0.3s;
    Opacity: 0;
    z-index: -10;
}

.ajxLoadOff {
    transition-duration: 0.3s;
    opacity: 0;
    z-index: -10;
}

.ajxLoadOn {
    transition-duration: 0.3s;
    opacity: 1;
    z-index: 400;
}

@media (max-width: 301px) {
    .formLoginLabel {
        transition-duration: 0.3s;
        font-size: 1.2em;
        border-left: 15px solid #ca0f0f;
        border-right: 15px solid #ca0f0f;
    }
    .diamond {
        transition-duration: 0.5s;
        width: 120px;
        height: 120px;
    }
}