<nav class="headerMenu headerHide">
    <div>
        <ul id="headerLinkLists">
            <li>
                <a id="ME" @*onclick="toggLeMenu(this);"*@ title="Menu">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </a>
            </li>
            <li class="menuLists moveUp"><a id="SO">Sendout</a></li>
            <li class="menuLists moveUp"><a id="PO">Payout</a></li>
            <li class="menuLists moveUp"><a id="RE">Reports</a></li>
            <li class="menuLists moveUp"><a id="KG">KP2Go</a></li>
            <li class="menuLists moveUp"><a id="BP">Bills Payment</a></li>
            <li class="menuLists moveUp"><a id="SY">System</a></li>
            <li class="menuLists moveUp">
                @Html.ActionLink("Logout", "LogOut", "Index", "", new { @style = "" })
            </li>
        </ul>
    </div>
</nav>

<script>
    $(function () {
        setTimeout(function () {
            $(".headerMenu").removeClass('headerHide');
            $(".headerMenu").addClass('headerShow');
            setTimeout(function () {
                hideModals();
            }, 500);
        }, 500);

        var sendoutIsClicked = false;
        $('a#SO').click(function () {
            ajaxLoadModal("Rendering Tool");
            toggLeMenuOff($('a#ME'));

            if (sendoutIsClicked) {
                sendoutIsClicked = false;
                $('div#content-holder').html("");
                ajaxLoadModal();
            }
            else {
                $.ajax({
                    async: true,
                    type: 'GET',
                    url: '/Sendout/Index',
                    contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                    dataType: 'html',
                    cache: false,
                    success: function (result) {
                        sendoutIsClicked = true;
                        $('div#content-holder').html(result);
                        setTimeout(function () {
                            ajaxLoadModal();
                        }, 500)
                    },
                    error: function (jqXHR, textStatus, errorThrown) {
                        unExpectedError();
                    }
                });
            }
        });

        window.addEventListener('resize', function () {
            toggLeMenuOff($('a#ME'));
        });

        //$('header').focusout(function () { toggLeMenuOff($('a#ME')); })
        //$('header').hover(function () { }, function () { toggLeMenuOff($('a#ME')) })
        $('a#ME').on('click', function () {
            $('#headerLinkLists').toggleClass("").focus();
            toggLeMenu(this);
            console.log('this is focused');
        });
        $('#headerLinkLists').on('focusout', function () {
            console.log('focused out');
            toggLeMenuOff($('a#ME'));
        })
    })

    function toggLeMenu(btnMenuToggler) {
        btnMenuToggler.classList.toggle("change");
        if ($('.menuLists').hasClass('moveUp')) {
            $('.menuLists').removeClass('moveUp');
            $('.menuLists').addClass('viewMenu');
            $('#headerLinkLists').attr('style', 'background-color: #9a0e0e;')
        }
        else {
            $('.menuLists').removeClass('viewMenu');
            $('.menuLists').addClass('moveUp');
            $('#headerLinkLists').removeAttr('style');
        }
    }
    function toggLeMenuOff(btnMenuToggler) {
        if (btnMenuToggler.hasClass("change")) {
            $('.menuLists').removeClass('viewMenu');
            $('.menuLists').addClass('moveUp');
            btnMenuToggler.removeClass("change");
            $('#headerLinkLists').removeAttr('style');
        }
    }
</script>
