<div>
    Home | Sendout | Payout | Reports | KP2Go | BillsPayment | System ─
    @Html.ActionLink("Logout", "LogOut", "Index", "", new { @style = "background-color: green; border-color: gray; padding: 6px 12px; border-radius: 5px; text-decoration: none; color: white;" })
</div>
